{% extends 'base.html.twig' %}

{% block body %}
{{parent()}} 

{#<div class="header" style="text-align:center; background-color: #CECECE; height: auto;">
	<br>
	
    <img src={{app.user.imagenPerfil}} width="170px" heigth="170px" style="border-radius: 100%;"/>
    <h1 style="text-align:center"> <b> {{usuario.username}} </b> </h1>

	<br>
</div>#}

<br>

<div class="container forma" style="width: 80%;">
    {{ form(formulario) }}
</div>

<br>

{% endblock %}