{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ parent() }}

    <br>

    <div class="container forma">
        <br>

        {{form(formulario)}}

        <br>
    </div>

{% endblock %}