{% extends 'base.html.twig' %}

{% block body %}
{{parent()}} 

<br>

<div class="container forma">

    <br>

    <h1 style="text-align:center"> Agregar recomendación </h1>

    <br>

    {{form(formulario)}}

</div>

<br>

{% endblock %}