{% extends 'base.html.twig' %}

{% block body %}
{{parent()}}

{% if app.user.id == usuario_id %}
    <br>

    <div class="container forma">

        <br>

        <h1 style="text-align:center"> Modificar recomendación </h1>

        <br>

        {{form(formulario)}}

    </div>

    <br>

{% else %}
    <br>

    <div class="container forma">

        <h1 style="color: #CA1212;"> No puede modificar las recomendaciones de otro usuario </h1>

    </div>

    <br>
{% endif %}


{% endblock %}